.git
.github
target
debug
apps/flutter_client/build
apps/flutter_client/.dart_tool
apps/flutter_client/.flutter-plugins
apps/flutter_client/.flutter-plugins-dependencies
apps/flutter_client/.packages
apps/flutter_client/.pub-cache
apps/flutter_client/.pub
apps/flutter_client/.idea
apps/flutter_client/.vscode
**/*.iml
**/.DS_Store
.docker-cache
pulumi/bin
pulumi/obj
node_modules